/* ---------------Box Sizing----------------- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: 'PT Sans', sans-serif;
}

/* ---------------Global Styles----------------- */
body{
    font-family: 'PT Sans', sans-serif;
    margin:0;
}

header.primary{
    background-color:#00BFFF;
    text-align:center;
    color:#fff;
    /* text-shadow: 2px 2px 20px #000; */
    /* Longform */
    padding-top:40px;
    padding-right:40px;
    padding-bottom:20px;
    padding-left:40px;
    
}