/* -----------------Css Demo----------------- */
/* ---------------Color Scheme--------------- */
/*   #1E9CB3 #5EE7FF #46E2FF #B3580C #FF9945  */


/* ---------------Box Sizing----------------- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: 'PT Sans', sans-serif;
}

/* ---------------Utility Styles----------------- */

.container{
    width:80vw;
    margin:40px auto;
    max-width:900px;
}

/* ---------------Global Styles----------------- */
body{
    font-family: 'PT Sans', sans-serif;
    margin:0;
}

header.primary{
    background-color:#46E2FF;
    text-align:center;
    color:#fff;
    text-shadow: 2px 2px 20px #000;
    /* Longform */
    padding-top:40px;
    padding-right:40px;
    padding-bottom:20px;
    padding-left:40px;
    
    /* Shorthand (T,B), (L,R)*/
    padding: 20px 40px;
    
    /* Shorthand T,R,B,L*/
    padding: 40px 40px 20px 40px;
}

header.primary h1{
    font-size:3.2rem;
    margin:20px 0;
}

header.primary h1 a{
    text-decoration:none;
    color:#fff;
}

header.primary h2{
    font-size:2rem;
    /*     Top | L/R | Bottom */
    margin:20px auto 40px;
}

header.primary nav{
    width: 80vw;
    max-width:900px;
    margin:auto;
}

header.primary nav ul{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    padding:0;
}

header.primary nav ul li{
    list-style-type:none;
    padding:10px;
}

header.primary nav ul li a:link, header.primary nav ul li a:visited{
    color:#fff;
    text-decoration:none;
    background-color:#000;
    background-color:rgba(0,0,0,.4);
    padding:8px 16px;
    border-radius:20px;
    transition:.5s;
    
}

header.primary nav ul li a:hover, header.primary nav ul li a:active{
    background-color:rgba(0,0,0,.6)
}














@media screen and (max-width:680px){

    header.primary nav ul{
        flex-direction:column;
        max-width:400px;
        margin:0 auto;;
    }
    
    header.primary nav a{
        display:block;
    }
    
}