/* ---------------Box Sizing----------------- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: 'PT Sans', sans-serif;
}

/* ---------------Global Styles----------------- */
body{
    font-family: 'PT Sans', sans-serif;
    margin:0;
}

header.primary{
    background-color:#00BFFF;
    text-align:center;
    color:#fff;
    /* text-shadow: 2px 2px 20px #000; */
}
nav{
    padding: 10px;
    border: 3px solid #778899;
    margin:auto;
    text-align:center;
}

h2{
    padding: 10px;
    
}

#container{
    padding: 10px;
    background-color: white;
    border: 5px solid black;
}
