/* --------------Course homepage------------- */
/* ---------------Color Scheme--------------- */
/*   #1E9CB3 #5EE7FF #46E2FF #B3580C #FF9945  */


/* ---------------Box Sizing----------------- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: 'PT Sans', sans-serif;
}

/* ---------------Utility Styles----------------- */

.container{
    width:80vw;
    margin:40px auto;
    max-width:900px;
}

/* ---------------Global Styles----------------- */

body{
    font-family: 'PT Sans', sans-serif;
    margin:0;
}


header.primary{
    background-color:#46E2FF;
    text-align:center;
    margin:0;
    padding: 20px 40px;
    /* text-shadow: 2px 2px 20px #000; */
}

header.primary h1{
    color: #fff;
    font-size:3.2rem;
    margin:20px 0;
    text-shadow: 2px 2px 10px #000;
}

#assignments{
    text-align:center;
}

#assignments ul{
    margin:auto;
    box-shadow:0 4px 8px rgba(0,0,0, .4);
    padding:10px;
    display:flex;
    flex-direction:column;
    list-style-type:none;
    transition: .5s;
    width:50%;
    
}

#assignments h2{
    font-size:2em;
    margin: auto;
    color:#FF9945;
}

#assignments ul li{
    padding:20px;
}

#assignments ul li a{
    background-color:#1E9CB3;
    text-decoration:none;
    color:#fff;
    border-radius:8px;
    padding: 10px 2em;
}

#assignments a:hover{
    color:#5EE7FF;
}


