/* ---------------Box Sizing----------------- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: 'PT Sans', sans-serif;
}

/* ---------------Global Styles----------------- */
body{
    font-family: 'PT Sans', sans-serif;
    margin:0;
}

header.primary{
    background-color:#00BFFF;
    text-align:center;
    color:#fff;
    /* text-shadow: 2px 2px 20px #000; */
}

p{
    text-align: center;
    padding: 10px;
    margin: 10px;
}

h2{
    text-align: center;
    background-color: #778899;
    border: 2px solid #778899;
    margin:auto;
}

.center{
    float:right;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

ul{
    list-style-type: square;
}

footer{
    padding: 10px;
}

nav {
    padding: 10px;
    border: 2px solid #778899;
    margin:auto;
    text-align:center;
}
#container{
    padding: 10px;
    background-color: white;
    border: 5px solid black;
}