body{
    background-color:#00BFFF;
    border: 5px solid #778899;
    padding: 20px;
    
}

header{
    margin: 20px;
    padding: 0px;
    border: 5px solid #000;
    text-align: center;
    font-size: 30px;
    background-color: #778899;
}

p{
    text-align: center;
    padding: 10px;
    margin: 10px;
}

h2{
    text-align: center;
    background-color: #778899;
    border: 2px solid #778899;
    margin:auto;
}

.center{
    float:right;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

ul{
    list-style-type: square;
}

footer{
    padding: 10px;
}

nav {
    padding: 10px;
    border: 2px solid #778899;
    margin:auto;
    text-align:center;
}
#container{
   padding: 10px; 
}